[class |= 'portfolio'] {
    display: flex;
    width: 50%;
    min-width: 200px;

    border-radius: 5px;
    margin-bottom: 1rem;

    outline: 1px solid black;
}
[class |= 'description'] {
    max-width: 70%;
}

[class |= 'description'] h2 {
    margin: 1rem;
}

[class |= 'description'] a {
    text-decoration: none;
    color: black;
}

[class |= 'description'] a:hover {
    color: green;
    text-shadow: 1px 1px 0px black;
}

[class |= 'description'] hr {
    border: none;
    border-top: 1px dotted black;
}

[class |= 'description'] p {
    margin: 1rem;
}

.image-container {
    width: 50%;
    height: 250px;
    background-color: #f3f3f3;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 840px) {
    [class |= 'portfolio'] {
        flex-direction: column;
        align-items: center;
    }

    [class |= 'description'] {
        max-width: 100%;

    }
    .image-container {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    [class |= 'portfolio'] {
        width: 80%;
    }
}