
header {
    position: relative;
}

#navbar {
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: var(--sidebar-padding, 2rem);

    width: 100%;
    
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);

    --right-padding: 2rem;
}

@keyframes easeInNav {
    to {
        box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    }
}

.nav-icons,
.stunt-double,
[class |= 'menu'] {
    margin: 0;
}

#navbar img {
    transform: scale(1.4) translate(2px, 2px);
}

#navbar ul {
    display: flex;
    gap: 1rem;
    margin: 0;
   
    list-style-type: none;
    
    font-size: 1.3rem;

    --hover-theme:green;
}
#navbar li {
    position: relative;
}
#navbar li::after {
    content:"";
    position: absolute;
    background-color: var(--hover-theme);
    width: 100%;
    height: 1px;
    left:0;
    bottom: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
}
#navbar li:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: left;
}

#navbar a {
    color: black;
    text-decoration: none;
}

#navbar a:hover {
    color: var(--hover-theme);
}




@media screen and (max-width: 600px) {
    .macro-container {
        /* why do I need the important flag? what is using a higher specificity to hinder? */
        width: 90% !important;
    }

    #navbar{
        /* TODO: when scrolling down, height:0, when scrolling up, nav reappears. */

        width: 100%;
        height: var(--header-height, 5.5rem);

        background-color: rgba(255, 255, 250, 0.6);
        backdrop-filter: blur(20px);

        z-index: 1000;
    }

    /* stack href vertically */
    #navbar ul {
        display: var(--display-ul, flex);
        flex-direction: column;
        margin-top: 3rem;
    }

    /* trim trailing space so no animation:hover over extension */
    #navbar li {
        max-width: fit-content;
    }

    /* favicon <==> close:btn */
    #navbar .nav-icons {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        width: 100%;
    }

    /* Construct hamburger button */
    #navbar .menu-wrapper {
        position: relative;

        /* container for hamburger */
        outline: 1px solid darkgray;
        background-color: lightgrey;
        width: 3ch;
        height: 1.5rem;
        border-radius: 2px;
        

        /* Hamburger btn */
        /* --close-angle: 90|45; RENAME VARIABLE */
        --bg-color: red;
        --border: 1px solid red;
        --border-rad: 2px;
        --height: 14px;
        --width: 3px;

        /* position offset */
        --position-offset: initial;
    } 
    #navbar .menu-wrapper:hover {
        outline-width: 2px;
        cursor: pointer;
    }
    #navbar .menu-wrapper:active {
        outline-width: 1px;
    }
    #navbar .menu-1 {
        position: absolute;
        background-color: var(--bg-color);
        width: var(--width);
        height: var(--height);
        left: var(--position-offset);
        top: var(--position-offset-vertical);

        transform: translate(calc(var(--translateX-val) + var(--translateY-offset)), calc(var(--translateY-val) * -1));

        border: var(--border);
        border-radius: var(--border-rad);

        rotate: calc(var(--close-angle) * 1deg);
        
    }
    #navbar .menu-2 {
        position: absolute;
        background-color: var(--bg-color);
        width: var(--width);
        height: var(--height);

        visibility: var(--visibility-patty);

        border: var(--border);
        border-radius: var(--border-rad);

        transform: translate(var(--translateY-offset), calc(var(--translateY-val) * -1));
        rotate: calc(var(--close-angle) * 1deg);
    }
    #navbar .menu-3 {
        position: absolute;
        background-color: var(--bg-color);
        width: var(--width);
        height: var(--height);
        left: var(--position-offset);
        top: var(--position-offset-vertical);

        transform: translate(calc(var(--translateX-val) + var(--translateY-offset) * -1), var(--translateY-val));
        rotate: calc(var(--close-angle) * -1deg);
        
        border: var(--border);
        border-radius: var(--border-rad);
    }
    /* END of: Construct hamburger button */

    
    @keyframes animateSidebar {
        /* animating width is less performant than using translate due to repainting calculations */
        from {
            scale: 0 1;
            opacity: 0;

            /* width: 0; */
            /* translate: 0%; */
            /* transform: scaleX(0); */
        }
        to {
            scale: 1 1;
            opacity: 1;

            width: 100%;
            /* translate: -20%; */
            /* transform: scaleX(1); */
        }
    }

    /* hamburger button state */
    #navbar[aria-expanded = "false"]{
        /* menu closed, don't show ul */
        --display-ul: none;
        /* menu closed, show icons: favicon & hamburger */
        flex-direction: row;

        /* positions favicon vs hamburger */
        justify-content: space-between;
        align-items: center;

         /* hamburger bun positioning */
        --buns: 5px; /* one val for translateX's (defacto translateY) "big bang expansion" bc of + vs - rotate val */
        --translateX-val: calc(var(--buns) * -1);
        --translateY-val: 75%;
        --translateY-offset: 5px;
    }

    #navbar[aria-expanded = "true"] {
        position: absolute;
        height: fit-content;
        right: 0;
      
        width: 70%;

        /* to position icon-div <==> ul */
        flex-direction: column;

        /* positions ul */
        justify-content: flex-start;
        align-items: flex-start;
               
        overflow: hidden;
        transform-origin: right;
        animation: animateSidebar 500ms ease-in-out forwards;
    }

     /* transformation between hamburger and X icon */
    #navbar[aria-expanded = "false"] .menu-wrapper {
        /* hamburger icon */
        --close-angle: 90;
        --visibility-patty: initial;
    }

    #navbar[aria-expanded = "true"] .menu-wrapper {
        /* X icon */
        --close-angle: 45;
        /* horizontal */
        --position-offset: 10px; 
        --position-offset-vertical: 5px;
        --visibility-patty: hidden;
    }
}