#navbar {
    /* stabilizes layout from navbar injection. see common.css */
    /* position: absolute; */
    /* --content-width: 251px; */
    /* --gutter-width: 17px; */
    /* --offset: var(--content-width) - (2 * var(--gutter-width)); */
    /* left: calc(100vw - var(--offset)); */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: calc(100vw - var(--gutter-width, 17px));
}

#navbar img {
    transform: scale(1.2);
}

#navbar ul {
    display: flex;
    gap: 1rem;

    /* stabilizes layout from scrollbar (non)existence */
    /* #navbar{position:absolute} makes this rule moot. */
    /* justify-content: end; */

    font-size: 1.3rem;
    list-style-type: none;
    padding-inline-start:0;

    --hover-theme:green;
}
#navbar li {
    position: relative;
}
#navbar li::after {
    content:"";
    position: absolute;
    background-color: var(--hover-theme);
    width: 100%;
    height: 1px;
    left:0;
    bottom: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
}
#navbar li:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: left;
}

#navbar a {
    color: black;
    text-decoration: none;
}

#navbar a:hover {
    color: var(--hover-theme);
}

@media screen and (max-width: 600px) {
    #navbar > a {
        display: none;
    }
    #navbar {
        justify-content: center;
        /* left: 50%; */
        /* transform: translateX(-60%); */
        --gutter-width:0;
    }
    
}