:root{
    --analytics-bg: url('https://coonsomebath.github.io/cnit132a/src/static/images/ga4/ga4-q20-810.png');
}

body {
    position: relative;
    --regular-text: 1.2rem;
    --regular-text-font: Arial, Helvetica, sans-serif;
}

body::before {
    content: '';
    position: absolute;
    height: calc(100% - var(--gutter-width, 17px));
    width: 100%;
    background-image: var(--analytics-bg, url('/src/static/images/ga4/ga4-q20-810.png'));
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}

h1 {
    text-align: center;
}
h1 span {
    display: block;
}

h1:first-of-type span {
    font-size: 1.1rem;
    vertical-align: text-top;
    display: inline-block;
    width: 100%;
    text-align: center;
}

div {
    margin: 2rem 0;
}

figure {
    margin: 0;
    background-color: rgba(255, 226, 141, .5);
}

figcaption {
    padding-bottom: 6px;
    padding-left: 6px;
}

.frames {
    margin:0;
}

.notes {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width:100%;
    background-color: rgba(255, 226, 141, .5);
    /* background-color: #ffe28d; */
}

.notes section {
    max-width:50%;
}

.notes h2 {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

@media screen and (max-width: 980px){
    .notes section {
        max-width:70%;
    }
}

@media screen and (max-width: 750px){
    .notes section {
        max-width:80%;
    }
}

@media screen and (max-width: 560px){
    .video, 
    .glossary,
    .homework {
        display: flex;
        justify-content: center;
    }

    .video iframe {
        aspect-ratio: 16/9;
    }

    iframe,
    img {
        width: 100vw;
    }

    .notes section {
        max-width:90%;
    }

    ul {
        --ul-padding-start: 20px;
        -webkit-padding-start:  var(--ul-padding-start);
        -moz-padding-start: var(--ul-padding-start);
        padding-inline-start: var(--ul-padding-start);
    }
}

/* Free form exploration */
ul {
    font-size: var(--regular-text);
    font-family: var(--regular-text-font);
}

img {
    max-width: 100%;
}
