main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* scrollbar-gutter: stable both-edges; */
    
    /* outline: 1px solid black; */
}

p {
    font-size: 1.2rem;
    text-wrap: balance;
}