main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* scrollbar-gutter: stable both-edges; */
    
    /* outline: 1px solid black; */
}

p {
    font-size: 1.2rem;
    /* https://caniuse.com/?search=text-wrap%3A%20balance (66.77% support) */
    text-wrap: balance;
}