* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
:root {
    /* --gutter-width: calc(100vw -100%); */
    --gutter-width: 17px;
}

header {
    /* stabilizes layout from navbar injection. see navbar.css */
    --header-height: 5.5rem;
    height: var(--header-height);
    /* height: 4rem; */
    /* overflow: hidden; */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* scrollbar-gutter: stable both-edges; */
}

p {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.no-break {
    white-space: nowrap;
}

.macro-container {
    /* this solves my layout shift from scrollbar-y toggling */
    width: calc(100vw - var(--gutter-width, 17px));
}